.footer_icon_color span i {
    color: #f7ea2f;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.bottom_para {
    font-family: 'Anek Bangla', Helvetica, Arial, Lucida, sans-serif;
    color: #f7ea2f;
    font-size: 15px;
    font-weight: 500;
}